<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录后台管理系统</title>
    {Mytag:bootstrapcss}
    <link rel="stylesheet" type="text/css" href="__HOME__/css/index.css">
    <link rel="stylesheet" type="text/css" href="__ADMIN__/css/login.css">
</head>
<body>
<form class="form-group" action="{:url('Admin/Login/login')}" method="post">
    <div id="Login">
        <input class="form-control modal-sm" type="password" placeholder="后台登录密码" name="password" value="">
        <input class="form-control modal-sm" type="text" placeholder="验证码" autocomplete="off"  name="verify">
        <img class="verify" src="{:captcha_src()}" title="点击更换" width="150px" height="40px">
        <input class="btn btn-primary submit" type="submit" value="登录">
    </div>
</form>
    {Mytag:bootstrapjs}
</body>
</html>
